@import url('normalize.css');

body {
    background-color: #e9edd0;
    font-family: "Franklin Gothic Medium", "Arial Medium";
}

header {
    height: 148px;
    background-image: url(../img/header-top-bg.png);
    background-repeat: repeat-x;
    /*border: 1px solid black;*/
    padding: 35px 0px 0px 20px;
}

header img {
    float: left;
    margin-right: 15px;
    width: 80px;
    height: 80px;
}

header h1 {
    color: #0a0a0a;
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: -2px;
    width: 200px;
    line-height: 38px;
    float: left;
    padding: 0;
    margin: 0;
    position: relative;
    top: 1px;
}

header h3 {
    text-align: baseline;
    float: left;
    height: 30px;
    line-height: 15px;
    border-left: 2px solid #6a6a6a;
    margin-left: 5px;
    padding-left: 5px;
    position: relative;
    top: 24px;
    width: 100px;
    color: #fe610c;
    font-weight: normal;
}

section {
    margin-top: 20px;
}

section div h4 {
    background-image: url(../img/info-header.png);
    background-repeat: repeat-x;
    background-position: left bottom;
    padding: 0px 0px 12px 3px;
    margin: 0;
    height: 21px;
}

section.timeline {
    background-image: url(../img/timeline-bottom-bg.png);
    background-repeat: repeat-x;
    padding: 0px 0px 11px 0px;
    background-position: bottom;
}

section.timeline div h4 {
    background-image: url(../img/timeline-header-bg.png);
    background-repeat: repeat-x;
    background-position: left bottom;
    padding: 0px 0px 6px 3px;
    margin: 0;
    height: 21px;
}

#heading {

}

#container {
    width: 924px;
    margin: 0 auto;
    padding-top: 20px;
}

#language-graph {
    margin: 8px 4px 0px 4px;
    padding: 0px 2px 0px 2px;
    list-style-type: none;
}

#language-graph li {
    color: #FFF;
    margin: 5px 0px 0px 0px;
    padding: 6px;
    background-color: #ff610c;
    box-shadow: 1px 1px 1px #2e2e2e;
}

.icon {
    padding-left: 21px;
    margin-left: 0px;
    margin-right: 4px; 
    background-repeat: no-repeat;
}

.icon-clock {
   background-image: url(../img/icon-clock.png); 
}

.icon-cards {
   background-image: url(../img/icon-cards.png); 
}

.icon-education {
   background-image: url(../img/icon-education.png); 
}

.icon-profile {
   background-image: url(../img/icon-profile.png); 
}

.icon-wand {
   background-image: url(../img/icon-wand.png); 
}

.icon-wrench {
   background-image: url(../img/icon-wrench.png); 
}

.specialization-venn {
    background-image: url(../img/specialization-venn.png);
    background-repeat: no-repeat;
    width: 298px;
    height: 268px;
    margin: 0 auto;
}

.timeline-graph-bg {
    background-image: url(../img/timeline-bg.png);
    height: 149px;
    margin-top: 3px;
    padding-top: 10px;
    margin-bottom: 1px; 
}

.timeline-graph {
    background-image: url(../img/timeline.png);
    background-repeat: no-repeat;
    height: 149px;
}